/* Style for the main photo */
.main-photo {
  border: 5px dashed orange; /* Change this to your preferred color */
  width: 800px; /* Width of the full-sized image */
  height: 450px; /* Height of the full-sized image */
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

/* Style for the thumbnails */
.thumbnail {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

h1{
  margin-top: 0px;
  text-align: center;
  color: rgb(88, 88, 160);
  font-size: 40px;
  background-color: rgb(190, 152, 79);
  padding: 10px;
}

.thumbnail img {
  width: 80px; /* Width of the thumbnail */
  height: 45px; /* Height of the thumbnail */
  border: 5px solid transparent; /* Transparent border for inactive thumbnails */
}

.thumbnail.active img {
  border-color: blue; /* Highlight color for the active thumbnail */
}

/* Style for the modal */
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  display: none;
  border: 2px solid blue;
}

#modal h2 {
  margin-top: 0;
}

#modal img {
  width: 800px;
  height: 450px;
  display: block;
  margin-bottom: 20px;
}

#close-modal {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}
