.main-photo {
    border: 2px solid blue; /* Blue border for the main photo */
}

.thumbnail {
    border: 2px solid grey; /* Grey border for all thumbnails */
    display: inline-block; /* This makes sure thumbnails are in line */
    margin: 5px; /* Adds some space around each thumbnail */
}

.thumbnail img {
    display: block; /* Ensures the image fills the thumbnail */
    width: 100%; /* Stretches the image to the width of the thumbnail */
    height: auto; /* Maintains the image's aspect ratio */
}

.thumbnail.active,
.thumbnail.active img {
    border: 2px solid red; /* Red border for the active (selected) thumbnail and its image */
}

#modal {
    /* Style your modal here */
}

#modal img {
    width: 800px;
    height: 450px; /* Size of the image in the modal */
}
